*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
nav{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.container{
    width: 80%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
   align-items: center;
}
.real{
    width: 100%;
    height: 20vh;
    background-color: whitesmoke;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.fan{
    width: 80%;
    height: 20vh;
    background-color: whitesmoke;
   
}
.mass{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.498),rgba(0, 0, 0, 0.531)),url(pexels-mikel-1239162.jpg);
}
.tico{
    font-size: 3rem;
}
.tac{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-image: linear-gradient(blue,red);
}
.lies{
    color: white;
    align-items: center;
    margin-left: 180px;
}
.go{
    width: 100%;
    height: 60dvh;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;

}
.weigh{
    height: 100%;
    width: 20%;
    background-color:burlywood;
}
.cylo{
    font-size:  1.5rem;
}
.don{
    color: white;
    font-weight: 700;
}
.cyco{
    font-size: 2rem;
}
.mac{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-image: linear-gradient(blue,red);
}
.time{
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}
header{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.498),rgba(0, 0, 0, 0.531)),url(pexels-olliecraig1-6398585.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.handle{
    width: 100%;
    height: 90vh;
    background-color: white;
    display: flex; 
    justify-content: center;
    align-items: center; 
}
.village{
    width: 100%;
    height: 100%;
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
   align-items: center;
}
.spy{
    width: 80%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
   align-items: center;
}
.weight{
    width: 15%;
    height: 100%;
    background-color: burlywood;
}
.enter{
    width: 100%;
    height: 90vh;
    background-color: white;
    display: flex; 
    justify-content: center;
    align-items: center; 
}
.mej{
    background-color: white;
    height: 100%;
    width: 45%;
}
.mem{
    background-color: white;
    display: block;
    height: 100%;
    width: 45%;
}
.smoke{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 500px;
    background-color: white;
}
.puke{
    height: 50%;
    width: 100%;
    background-color: white;
    gap: 10px;
}
.stu{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.moke{
    width: 550px;
    height: 500px;
    background-color: white;
    transform: translateX(50px);
}
.alt{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blank{
    width: 100%;
    height: 70vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
   align-items: center;  

}
.inpres{
    width: 100%;
    height: 100%;
}
.weight{
    font-size: 32px;
}
.pro{
    width: 500px;
    height: 400px;
    background-color: white;
    object-fit: cover;
}
.lorem{
    font-size: 1rem;
}
.mas{
    font-size: 1.3rem;
}
.taco{
  font-family: Georgia, 'Times New Roman', Times, serif;  
  background-color: EB5B00;
  font-size: 50px;
}
.teco{
    font-size: 2rem;
}
.color{
    margin-top: 30px;
}
.cut{
    width: 400px;
    height: 300px;
    background-color: whitesmoke;
}
.modern{
    font-size: 6rem;
    font-family: 'Times New Roman', Times, serif;
}
.tab{
    width: 120px;
    height: 30px;
    margin-top: 30px;
    border: 1px black solid;
}
.uni{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 220px; 
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}
.uno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    font-size: 1rem;
}
.fart{
   
      transform: translateY(-200px);
}

.class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5000px; 
}
.color{
    color: black;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
li{
    list-style: none;
    padding-left: 50px;
}
a{
    text-decoration: none;
    color: black;
}
.chair{
    width: 120px;
    height: 35px;
    color: black;
    background-color: transparent;
    border: color-mix(in srgb, color percentage, color percentage) 3px black;
}
section{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.div{
    width: 80%;
    height: 100%;
    background-color: whitesmoke;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shoe{
    width: 500px;
    height: 490px;
    overflow: hidden;
}
.bang{
    width: 390px;
    height: 180px;
    background-color: whitesmoke;
}
.heaven{
    font-size: 3rem;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.drone{
  margin-top: 50px
}
.box{
    margin-top: 50px;
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
}
.brain{
    width: 500px;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
}
.table{
    width: 100%;
    height: 70vh;
    background-color: white;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.tire{
    width: 80%;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
   align-items: center;  
}
.scraf{
    width: 800px;
    height: 450px; 
    background-color: white;
    overflow: hidden;
}
.main{
    transform: translateY(50px);
    width: 500px;
    height: 400px;
    object-fit: cover;
}
.yolk{
    width: 100%;
    height: 80vh;
    background-color: whitesmoke;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.cherry{
    width: 80%;
    height: 70vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
   align-items: center;  
}
.couch{
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}
.screr{
    width: 500px;
    height: 300px; 
    background-color: white;
}
.tag{
    margin-top: 40px;
}
.buy{
    width: 120px;
    height: 30px;
    margin-top: 40px;
    background-color: white;
}
@media screen {
    
}
.div{
    width: 80%;
    height: 100%;
    background-color: whitesmoke;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tablet{
    width: 120px;
    height: 30px;
    margin-top: 30px;
    border: 1px black solid;
}



    